<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="delivery" connectionString="Data Source=HOMEPC-81EK\SQLEXPRESS;Initial Catalog = DeliveryDB; integrated security = true;" providerName="System.Data.SqlClient" /><add name="Delivery_App_Exam.Properties.Settings.DeliveryDBConnectionString" connectionString="Data Source=HOMEPC-81EK\SQLEXPRESS;Initial Catalog=DeliveryDB;Integrated Security=True" providerName="System.Data.SqlClient" />
 <add name="DeliveryDBEntities" connectionString="metadata=res://*/DeliveryModel.csdl|res://*/DeliveryModel.ssdl|res://*/DeliveryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HOMEPC-81EK\SQLEXPRESS;initial catalog=DeliveryDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="DeliveryDBEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HOMEPC-81EK\SQLEXPRESS;initial catalog=DeliveryDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>